*.db
__pycache__/
.mypy_cache/
.pytest_cache/
docs/dist/
requirements.txt
app/_version.py
app/static/favicon.ico
incoming_worker.log
outgoing_worker.log
supervisord.log
supervisord.pid
uvicorn.log
logs/
