// override vars for theming here

$font-stack: "Noto Sans JP", sans-serif;
$background: #bbb;

body {
    margin: 0 5px !important;
}

main {
    max-width: 42em !important;
    margin: 30px auto 0 auto !important;
}

footer {
    max-width: 42em !important;
}

#admin nav {
    font-size: 18px;
}

#admin .admin-menu {
    margin-bottom: 15px !important;
}

.p-note.summary p {
    margin-top: 5px;
}

.hide {
    display: none !important;
}

.obj-content p {
    white-space: pre;
    text-wrap: wrap;
}

.activity-og-meta {
    border: 1px solid black;
    padding: 8px;
    background: #cdcdcd;
}

.activity-bar a {
    color: #444 !important;
}
.activity-bar .dt-published a {
    color: #777 !important;
}

.ap-object {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-top: 0px !important;
    background: #ddd;

    .activity-attachment {
        margin: 20px 0 20px 0 !important;
    }
}

.highlight {
    background: #282828 !important;
}