// override vars for theming here

$font-stack: "Noto Sans JP", sans-serif;
$background: #bbb;

body {
    margin: 0 5px !important;
}

main {
    max-width: 42em !important;
    margin: 0px auto !important;
}

.top-links {
    text-align: right;
    font-size: 14px;
    margin-right: -20px;
    height: 30px;
}
.is-admin .top-links {
    float: right;
}

footer {
    max-width: 42em !important;
}

#admin nav {
    font-size: 17px;
}

// #admin .admin-menu {
//     margin-bottom: 15px !important;
// }

.p-note.summary p {
    margin-top: 5px;
}

.hide {
    display: none !important;
}

.obj-content {
    .e-content {
        line-height: 32px;
    }
    p {
        white-space: pre;
        text-wrap: wrap;
    }
}



.ap-object {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-top: 0px !important;
    background: #ddd;

    .pinned {
        text-align: right;
        height: 0;
    }

    .activity-attachment {
        margin: 20px 0 20px 0 !important;
    }

    .article-top-date {
        display: block;
        margin-top: 10px;

        a {
            color: #555;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .activity-bar a {
        color: #444 !important;
    }
    .activity-bar .dt-published a {
        color: #777 !important;
    }
    .activity-bar a.edit-link {
        color: transparent !important;
        &:hover {
            color: #777 !important;
        }
    }


}

.highlight {
    background: #282828 !important;
    color: white;
    font-size: 13px;
    line-height: 125%;
}

code {
    background: #ccc;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 0 3px;
}

.article-title {
    margin-top: 10px;
}

blockquote {
    border-left: 3px solid #000 !important;
    padding-left: 0.5em !important;
    margin-left: 1em !important;
}

.admin-link {
    color: transparent;
}

.actor-action.actor-action-in-reply-to {
    margin-bottom: -10px;
}


.ap-object .activity-attachment img {
    max-height: 400px;
    cursor: zoom-in;
}


#fullscreenImgContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
    }
}

.form input[type=submit]:disabled {
    background: #1d681d;
    color: #ccc;
}

.twitter-tweet {
    margin: 0;
    margin-left: initial !important;
    border-left: initial !important;
    padding-left: initial !important;

    p {
        margin-top: 0;
    }
}